@import url('https://fonts.googleapis.com/css2?family=Bevan:ital@0;1&family=Inter:wght@100..900&family=Roboto+Slab:wght@100..900&display=swap');
@import url("navbar.css");
@import url("mobile.css");
@import url("hero.css");
@import url("cards.css");
@import url("footer.css");

:root {
    --primary-text-color: #FFF;
    --secondary-text-color: #0A0A0A;
    --link-color:#E1690A; 

    --primary-bg-color: #F5F5F5;
    --nav-bg-color: #010101;
    --secondary-bg-color: #D6B38D;

    --footer-bg-color: #AB8A67;
    --button-bg-color01: #E1690A;
    --button-bg-color02: #9C551B;

    --main-font: 'Inter', sans-serif;
    --secondary-font: 'Roboto Slab', serif;
    --title-font: 'Bevan', serif;
}

*, 
*::after,
*::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
}

html {
    font-family: var(--main-font);
    font-size: 1rem;
    scroll-behavior: smooth;
}

body {
    min-height: 100vh;
}

a {
    text-decoration: none;
}
